@model EveningSchool.ViewModels.Admin.SubjectViewModel

<form class="form-group" method="post" asp-controller="Admin" asp-action="AddSubject">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label>Название предмета</label>
        <input class="form-control shadow-sm bg-white rounded" asp-for="SubjectName" placeholder="Введите название предмета">
        <span asp-validation-for="SubjectName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary btn-block shadow-sm rounded">Добавить</button>
    </div>
</form>