@{
    ViewData["Title"] = "Admin Panel";
}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-12 col-md-12 d-flex justify-content-center">
                            <a asp-action="AdminTeacher" class="btn btn-light btn-lg m-2 shadow-sm" role="button">
                                <span class="glyphicon glyphicon-list-alt">
                                    <img src="https://img.icons8.com/external-vitaliy-gorbachev-lineal-vitaly-gorbachev/50/000000/external-teacher-online-learning-vitaliy-gorbachev-lineal-vitaly-gorbachev-1.png" alt="...">
                                </span> <br/>Учитель
                            </a>
                            <a asp-action="AdminCabinet" class="btn btn-light btn-lg m-2 shadow-sm" role="button">
                                <span class="glyphicon glyphicon-list-alt">
                                    <img src="https://img.icons8.com/material-outlined/50/000000/department.png" alt="...">
                                </span> <br/>Кабинет
                            </a>
                            <a asp-action="AdminClass" class="btn btn-light btn-lg m-2 shadow-sm" role="button">
                                <span class="glyphicon glyphicon-list-alt">
                                    <img src="https://img.icons8.com/ios/50/000000/classroom.png" alt="...">
                                </span> <br/>Класс
                            </a>
                            <a asp-action="AdminStudent" class="btn btn-light btn-lg m-2 shadow-sm" role="button">
                                <span class="glyphicon glyphicon-list-alt">
                                    <img src="https://img.icons8.com/pastel-glyph/50/000000/pupil-male--v2.png" alt="...">
                                </span> <br/>Ученик
                            </a>
                            <a asp-action="AdminSubject" class="btn btn-light btn-lg m-2 shadow-sm" role="button">
                                <span class="glyphicon glyphicon-list-alt">
                                    <img src="https://img.icons8.com/external-justicon-lineal-justicon/50/000000/external-lesson-elearning-and-education-justicon-lineal-justicon.png" alt="...">
                                </span> <br/>Предмет
                            </a>
                            <a asp-action="AdminArticle" class="btn btn-light btn-lg m-2 shadow-sm" role="button">
                                <span class="glyphicon glyphicon-list-alt">
                                    <img src="https://img.icons8.com/ios/50/000000/news.png" alt="...">
                                </span> <br/>Новости
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>