<div id="example">
    <div id="scheduler"></div>
</div>
<script id="event-template" type="text/x-kendo-template">
    <div class="movie-template" style="background-color: #=colorVal#">
      <p>#: title #</p>
      </div>
    </script>
<script>
$(function() {
    $("#scheduler").kendoScheduler({
        toolbar: ["pdf"],
        pdf: {
            fileName: "Расписание.pdf",
            proxyURL: "https://demos.telerik.com/kendo-ui/service/export"
        },
        footer: false,
        date: new Date("@DateTime.Now.ToString("yyyy-M-d 07:00")"),
        startTime: new Date("@DateTime.Now.ToString("yyyy-M-d 07:00")"),
        allDaySlot: false,
        majorTimeHeaderTemplate: "",
        timeSlot: false,
        ShowTimeRuler: false,
        majorTick: 1440, //set major tick to full day and leave the default startTime/endTime
        minorTickCount: 3,
        views: [
            {
                type: "day",
                selected: true,
            },
            { type: "workWeek"},
        ],
        editable: false,
        eventTemplate: $("#event-template").html(),
        timezone: "Europe/Minsk",
        dataSource: {
            batch: true,
            transport: {
                read: {
                    url: "@Url.Action("GetLessonsBySubjectId", "Schedule", new {id = ViewBag.Id})",
                    dataType: "json"
                },
            },
            schema: {
                model: {
                    id: "id",
                    fields: {
                        id: {
                            from: "id",
                            type: "number"
                        },
                        title: {
                            defaultValue: "No title",
                            validation: {
                                required: true
                            }
                        },
                        start: {
                            type: "date",
                            from: "dateStart"
                        },
                        end: {
                            type: "date",
                            from: "dateEnd"
                        },
                        recurrenceRule: {
                            from: "recurrenceRule"
                        },
                        lessonNumber: {
                            from: "lessonNumber",
                        },
                        teacherId: {
                            type: "number",
                            from: "teacherId",
                            defaultValue: @ViewBag.Id
                        },
                        classId: {
                            type: "number",
                            from: "classId"
                        },
                        subjectId: {
                            type: "number",
                            from: "subjectId"
                        },
                        cabinetId: {
                            type: "number",
                            from: "cabinetId"
                        },
                        colorVal: {
                            from: "colorVal",
                        }
                    }
                }
            }
        },
        group: {
            resources: ["LessonNumber"],
            orientation: "vertical"
        },
        resources: [{
            field: "lessonNumber",
            name: "LessonNumber",
            dataSource: [{
                    text: "Урок 1",
                    value: 1
                },
                {
                    text: "Урок 2",
                    value: 2
                },
                {
                    text: "Урок 3",
                    value: 3
                },
                {
                    text: "Урок 4",
                    value: 4
                },
                {
                    text: "Урок 5",
                    value: 5
                },
                {
                    text: "Урок 6",
                    value: 6
                },
                {
                    text: "Урок 7",
                    value: 7
                },
                {
                    text: "Урок 8",
                    value: 8
                }
            ],
            title: "LessonNumber"
        }]
    });
});
</script>
<style>
    .k-icon.k-i-arrow-60-down{
        display: none;
        }
    .k-icon.k-i-arrow-60-up{
        display: none;
        }
    .k-current-time{
            display: none;
        }
</style>

<style>
        /*
            Use the DejaVu Sans font for display and embedding in the PDF file.
            The standard PDF fonts have no support for Unicode characters.
        */
        .k-scheduler {
            font-family: "DejaVu Sans", "Arial", sans-serif;
            font-size: .9em;
        }

        /* Hide toolbar, navigation and footer during export */
        .k-pdf-export .k-scheduler-toolbar,
        .k-pdf-export .k-scheduler-navigation .k-nav-today,
        .k-pdf-export .k-scheduler-navigation .k-nav-prev,
        .k-pdf-export .k-scheduler-navigation .k-nav-next,
        .k-pdf-export .k-scheduler-footer
        {
            display: none;
        }
        .k-event{
              		background: none;
                  	border: none;
              	}
           .kendo-scheduler .k-event .k-event-actions, .k-event .k-event-actions {
           margin-right: 10px;
           }    
    </style>

<script>
        // Import DejaVu Sans font for embedding

        // NOTE: Only required if the Kendo UI stylesheets are loaded
        // from a different origin, e.g. cdn.kendostatic.com
        kendo.pdf.defineFont({
            "DejaVu Sans"             : "https://kendo.cdn.telerik.com/2016.2.607/styles/fonts/DejaVu/DejaVuSans.ttf",
            "DejaVu Sans|Bold"        : "https://kendo.cdn.telerik.com/2016.2.607/styles/fonts/DejaVu/DejaVuSans-Bold.ttf",
            "DejaVu Sans|Bold|Italic" : "https://kendo.cdn.telerik.com/2016.2.607/styles/fonts/DejaVu/DejaVuSans-Oblique.ttf",
            "DejaVu Sans|Italic"      : "https://kendo.cdn.telerik.com/2016.2.607/styles/fonts/DejaVu/DejaVuSans-Oblique.ttf",
            "WebComponentsIcons"      : "https://kendo.cdn.telerik.com/2017.1.223/styles/fonts/glyphs/WebComponentsIcons.ttf"
        });
</script>