<body>
<br/><br/><br/>
<div id="example">
    <div id="grid"></div>
    <script>
        $(document).ready(function() {
            $("#grid").kendoGrid({
                dataSource: {
                    transport: {
                        read: "@Url.Action("GetAllStudents", "Schedule")",
                    },
                    group: {
                        field: "Class.className",
                        dir: "sort"                  
                    },
                    schema: {
                        model: {
                            id: "Id",
                            fields: {
                                Id: { editable: false, from: "id", type: "number" },
                                Class: { from: "class", validation: {required: true} }, 
                                ClassId: {from: "classId", validation: {required: true} },
                                Name: { from: "name", type: "string", validation: {required: true }},
                                Surname: { from: "surname", type: "string", validation: {required: true }},
                                Lastname: { from: "lastname", type: "string", validation: {required: true }},
                                Telephone: { from: "telephone", type: "string", validation: {required: true }},
                                Address: { from: "address", type: "string", validation: {required: true }}
                            }
                        }
                    },
                    pageSize: 20,
                    serverPaging: false,
                    serverFiltering: false,
                    serverSorting: false
                },
                toolbar: ["search"],
                search: {
                    fields: [{
                            name: "Class.className",
                            operator: "contains"
                        },
                        {
                            name: "Name",
                            operator: "contains"
                        },
                        {
                            name: "Surname",
                            operator: "contains"
                        },
                        {
                            name: "Lastname",
                            operator: "contains"
                        },
                        {
                            name: "Telephone",
                            operator: "contains"
                        },
                        {
                            name: "Address",
                            operator: "contains"
                        },
                    ]
                },
                height: 550,
                editable: "popup",
                filterable: true,
                sortable: true,
                pageable: true,
                columns: [
                    {
                        field:"Id",
                        filterable: false
                    },
                    {
                        field: "Name",
                        title: "Имя"
                    }, 
                    {
                        field: "Surname",
                        title: "Фамилия"
                    }, 
                    {
                        field: "Lastname",
                        title: "Отчество"
                    },
                    {
                        field: "Class.className",
                        title: "Класс",
                    },
                    {
                        field: "Telephone",
                        title: "Телефон"
                    },
                    {
                        field: "Address",
                        title: "Адрес"
                    },
                ]
            });
        });
    </script>
</div>
</body>