@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <a type="button" class="btn btn-info" asp-action="Login" asp-controller="Account">Авторизация</a>
    <a type="button" class="btn btn-info" asp-action="Register" asp-controller="Account">Регистрация</a>
    <a type="button" class="btn btn-info" asp-action="AddCabinet" asp-controller="Admin">Добавить кабинет</a>
    <a type="button" class="btn btn-info" asp-action="AddClass" asp-controller="Admin">Добавить класс</a>
    <a type="button" class="btn btn-info" asp-action="AddStudent" asp-controller="Admin">Добавить студента</a>
    <a type="button" class="btn btn-info" asp-action="AddSubject" asp-controller="Admin">Добавить предмет</a>
    <a type="button" class="btn btn-info" asp-action="AllTeachers" asp-controller="Teacher">Все учителя</a>
</div>